include layout/header.pug
body
  .pure-g#layout
    .pure-u-1.pure-u-md-1-3
    .pure-u-1.pure-u-md-1-3.text-center
      img.pure-img.center(src="/static/img/404.png")
      h1 Oops...
      h3 not found the page #{url}
      a.pure-button.origin(href="/") Go back
    .pure-u-1.pure-u-md-1-3
