extends layout/layout.pug
block content
  .container
    h1.text-center About me
    .about-main
      .about-item
        .null
        h2 聪(zcong)
        img.school.pure-img.pull-right(src="/static/img/school.png")
      .about-item
        h3 北京
      .about-item
        h3 西安交通大学
      .about-item
        h3
          code PHP&nbsp;JavaScript(nodejs)
      .about-item
        .tags
          span.about-tag 宅
          span.about-tag 二次元
          span.about-tag 怕生
          span.about-tag 音乐
          span.about-tag 游戏
          span.about-tag 单身
          span.about-tag 写代码
          span.about-tag 推理
      .about-item
        .about-blockquote
          p
            | &nbsp;&nbsp;&nbsp;&nbsp;You are doing something that wouldn't happened unless you were actually doing it.
            | I've been amazed, that more I learn about technology, the more I realize I don't know, and that's because this technological horizon, the thing you can see to do next, the more you learn about technology, the more you learn what is possible.
          p.pull-right ——&nbsp;Larry Page
      .about-item
        .tags
          .link-group
            h3.inline-block Github
            p.inline-block
              a(href="https://github.com/zcong1993") &nbsp;@zcong1993
          .link-group
            h3.inline-block Twitter
            p.inline-block
              a(href="https://twitter.com/CongZhangDev") &nbsp;@CongZhangDev
          .link-group
            h3.inline-block 网易云
            p.inline-block
              a(href="http://music.163.com/#/user/home?id=20655024") &nbsp;@由比滨结衣
