extends layout/layout.pug
block content
  .posts.new
    h1.content-subhead Recent Post
    each post in posts
      include layout/post.pug
  .pagination
    a.pure-button.pure-button-primary.origin(href=opts.pastUrl disabled=opts.isLast)
      i.fa.fa-angle-left
      |&nbsp;&nbsp;Past
    a.pure-button.pure-button-primary.pull-right.origin(href=opts.newUrl disabled=opts.isFirst)
      |New&nbsp;&nbsp;
      i.fa.fa-angle-right
