body {
  line-height: 1.6
}

html, button, input, select, textarea, .pure-g [class *="pure-u"] {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

a:not(.post-category):not(.origin):hover, a:not(.post-category):not(.origin):focus {
  color: #00AA90;
  background: transparent;
  text-decoration: none
}

a.post-category:hover, a.post-category:focus {
  text-decoration: underline;
}

.pull-right {
  float: right!important;
}

.posts-list-data-part {
  margin-left: 0.5em;
}

.text-center {
  text-align: center !important;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.container .sub-title {
  color: #666;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-size: 128%;
}

.container h1 {
  font-weight: 100;
  letter-spacing: 0.05em;
}

.post-content {
  line-height: 1.8;
  max-width: 48em;
  font-weight: 200;
  background-color: #eee;
  padding: 1em;
}

.post-content blockquote {
  background-color: #272822;
  color: #fff;
  border-left: 2px solid #d65050;
  padding: 10px 15px;
}

.footer a {
  color: #777;
  font-weight: normal;
}

.user-avatar {
  border-radius: 100px;
  display: none;
}

.sub-title span {
  display: block;
}

.block {
  display: block;
}

.fa-nav {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.fa-item {
  display: inline-block;
  padding: 0 0.5em;
}

@media (min-width: 48em) {
  .post-content {
    min-height: 40em;
    padding: 1em 0.8em;
  }
  .user-avatar {
    display: inline-block;
  }
  .sub-title span {
    display: inline-block;
  }
}

.about-main {
  margin-top: 40px;
}

.about-item {
  margin-top: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFB;
  min-height: 80px;
  border-radius: 10px;
}

.school {
  max-width: 75px;
  max-height: 75px;
}

.null {
  display: inline-block;
  width: 72px;
}

.about-tag {
  display: inline-block;
  background-color: #A5DEE4;
  min-width: 64px;
  text-align: center;
  margin: 2px 4px;
  border-radius: 5px;
}

.about-blockquote {
  max-width: 35em;
  font-weight: 190;
  font-size: 1.125em;
  padding: 0 6px;
}

.inline-block {
  display: inline-block;
}

@media (min-width: 48em) {
  .link-group {
    display: inline-block;
  }
  .link-group:nth-last-child(-n+2) {
    margin-left: 6px;
  }
}
