- footerLinks = appConfig.footerLinks || [{name: 'About', link:'http://purecss.io/'}, {name: 'Twitter', link: 'https://twitter.com/CongZhangDev'}, {name: 'GitHub', link: 'https://github.com/zcong1993'}]
.footer
  .pure-menu.pure-menu-horizontal
    ul
      each val in footerLinks
        li.pure-menu-item
          a.pure-menu-link(href=val.link) #{val.name}
