- footerLinks = footerLinks || [{name: 'About', link:'http://purecss.io/'}, {name: 'Twitter', link: 'http://twitter.com/yuilibrary/'}, {name: 'GitHub', link: 'http://github.com/yahoo/pure/'}]
.footer
  .pure-menu.pure-menu-horizontal
    ul
      each val in footerLinks
        li.pure-menu-item
          a.pure-menu-link(href=val.link) #{val.name}
