.sidebar.pure-u-1.pure-u-md-1-4
  .header
    img.user-avatar.pure-img(width="200", height="200", src="/static/img/avatar4.jpg")
    h1.brand-title A Simple Blog
    h2.brand-tagline My personal blog by express

    nav.nav
      ul.nav-list
        li.nav-item
          a.pure-button(href="/")
            i.fa.fa-home &nbsp;Home
        li.nav-item
          a.pure-button(href="/aboutme")
            i.fa.fa-heart &nbsp;Aboutme

    nav.nav.fa-nav
      ul.nav-list.fa-links
        li.fa-item
          a.fa-item(href=appConfig.links.twitter): i.fa.fa-twitter
        li.fa-item
          a.fa-item(href=appConfig.links.github): i.fa.fa-github
        li.fa-item
          a.fa-item(href=appConfig.links.facebook): i.fa.fa-facebook
